{project_plugins, [erlfmt]}.

{deps, [{h3, "3.7.2-b"},
    thoas]}.

{erlfmt, [
    write,
    {files, ["{src,include,test,tool}/*", "rebar.config"]}
]}.

{pre_hooks, [
    {compile, "cargo build --release"},
    {compile, "sh -c \"cp $(cat so-path) priv/hextree_nif.so\""}
]}.

{post_hooks, [
    {clean, "cargo clean"}
]}.
